<div style="height: 80%;" ng-init="getFavouritList()">
<div ng-if="userFavouritProductList.length>0">
<div ng-repeat="product in userFavouritProductList" style="display: inline-block;padding: 10px;">
	<div class="card">
	  <img src={{product.image}} alt="product image" style="height: 80px;width: 160px;" >
	  <div>{{product.name}}</div>
	  <span style="font: 10px;">
	      <span><i class="fa fa-inr" style="font-size: 12px;"></i>{{product.price-(product.price*product.discount)/100}}</span> 
		  <span style="color:gray;"><strike>{{product.price}}</strike></span> 
		  <span style="color: green;">&nbsp; {{product.discount}}<i class="fa fa-percent" style="font-size: 12px;" aria-hidden="true"></i> off </span> 
	  </span>
	  <div><button ng-click="removeProductFromFavourit(product)">Remove</button></div>
	</div>
</div>
</div>

<div ng-if="userFavouritProductList.length<1" style="height: 80%;">
		No Product Available for this shop
	</div>
</div>
<div>
   <button style="width: 100%;" ng-click="goToHome()"> Back to Home</button>
</div>